/* --------- header-styling ------- */
.header {
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0px;
  margin: 1rem auto;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px #333;
  -moz-box-shadow: 0 8px 6px -6px #333;
  box-shadow: 0 8px 6px -6px #333;
  background-color: white;

}

#logo {
  margin-left: 2rem;
  font-size: 280%;
  color:indigo;
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 8rem;
  margin-top: 1rem;
}


/* --------- end-of-header-styling ------- */
